body {
    width: 320px;
    height: 234px;
    font-family: "TT Lakes", "Verdana", sans-serif;
    background-color: #f8f8f8;
}

.slider-head {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7e7e82;
    background: linear-gradient(to right, #f8f8f8, #fff);
    border-top: 1px solid #d9fff5;
}

.slider-head__title {
    font-weight: 400;
    padding: 6px;
}

.swiper {
    width: 310px;
    height: 110px;
    display: flex;
}

.slider-body {
    padding-left: 8px;

}
.slider-body__grid {
    display: hidden;
    overflow: visible;
}

.swiper-wrapper {
    display: flex;
    overflow: visible;
}

.swiper-slide {
    display: flex;
    overflow: visible;
}

.swiper-pagination {
    top: 10px;
}

.swiper-pagination .swiper-pagination-bullet {
    position: relative;
    right: 15px;
    width: 12px;
    height: 12px;
    background-color: #7e7e82;
}

.slider-body__hidden {
    display: none;

}
.slider-body__vision {
    display: none;
}

@media (min-width: 767px) {

    body {
        width: 768px;
        height: 100%;
    }

    .slider-head {
        width: auto;
        height: auto;
    }

    .slider-body {
        height: auto;
    }

    .swiper {
        width: auto;
        height: auto;

    }

    .slider-body__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

    }

    .swiper-slide {
        margin: 0;
        padding: 0;
        width: 300px;
        /* flex: 1 1 175px; */

    }

    /* .swiper-wrapper .hidden { 
         display: none; 
         overflow: hidden;
     } */

    .swiper-wrapper {
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        flex-flow: wrap;

    }

    .slider-body__hidden {
        display: block;
        border: none;
        background-color: #f8f8f8;

    }
    .slider-body__vision {
        border: none;
        background-color: #f8f8f8; 
    }
}

@media (min-width: 1119px) {
    body {
        width: 1120px;
        height: auto;
    }
    .slider-body__grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

    }
}