body {
    width: 320px;
    height: 234px;
    font-family: "TT Lakes", "Verdana", sans-serif;
    background-color: #f8f8f8;
}

.slider-head {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7e7e82;
    background: linear-gradient(to right, #f8f8f8, #fff);
    border-top: 1px solid #d9fff5;
}

.slider-head__title {
    font-weight: 400;
    padding: 6px;
}

.swiper {
    width: 310px;
    height: 110px;
    display: flex;
}

.slider-body {
    padding-left: 8px;

}

.slider-body__grid {
    display: none;
    overflow: visible;

}

.swiper-wrapper {
    display: flex;
    overflow: visible;
}

.swiper-slide {
    display: flex;
    overflow: visible;
}

.swiper-pagination {
    top: 10px;
}

.swiper-pagination .swiper-pagination-bullet {
    position: relative;
    right: 15px;
    width: 12px;
    height: 12px;
    background-color: #7e7e82;
}

.btn-slide--hide {
    display: none;

}

.btn-slide--vision {
    display: none;
}

@media (min-width: 767px) {

    body {
        width: auto;
        min-width: 768px;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .slider-head {
        width: auto;
        height: auto;
    }

    .slider-body {
        display: none;
        height: auto;
    }

    .swiper {
        width: 100%;
        height: auto;

    }

    .slider-body__grid {
        width: 768px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 32px;
        gap: 10px 25px;

    }
    .hidden {
        display: none;
    }

    .btn-slide {
        display: flex;
        padding-left: 10px;
        font-size: 16px;
        border: none;
        background-color: #f8f8f8;
        min-width: 88px;
        height: 24px;

    }

    .btn-slide--vision {
        display: flex;
        font-size: 16px;
        border: none;
        padding-left: 20px;
        background-color: #f8f8f8;
        margin: 10px;
        align-items: baseline;
        font-family: "TT Lakes", "Verdana", sans-serif;
        font-weight: 500;

    }
    
    .btn-slide--vision::before {
        
        content: "»";
        color: #41F6D7;
        width: 24px;
        height: 24px;
        transform: rotate(90deg) scaleY(1.5) scaleX(2);
        position: relative;
        top: 2px; 
        font-weight: 600;
        padding-top: 10px;
    }

    .active {
        display: flex;
        border: none;
        background-color: #f8f8f8;
    }
    
    .active::before {
        content: "»";
        width: 24px;
        height: 24px;
        color: #41F6D7;
        transform: rotate(-90deg) scaleY(1.5) scaleX(2);
        position: relative;
        right: 10px;
        padding-left: 0;
        top: 1px;


    }
}

@media (min-width: 1119px) {
    body {
        width: auto;
        min-width: 1120px;
        height: auto;
    }

    .slider-body__grid {
        width: 1120px;
        grid-template-columns: repeat(4, 1fr);

    }

    .slider-body__vision {
        display: block;
        position: absolute;
        border: none;
        background-color: #f8f8f8;
        top: 250px;
        left: 0px;
    }
}